.flex-prev {
	font-size: 1.5em;
	padding: 0px 12px;
}
.flex-next {
	font-size: 1.5em;
	padding: 0px 12px;
}
.flexslider {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.slides {
	li {
		position: relative;
	}
	img {
		width: 100%;
	}
}
.powen-slider-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	padding: 10px;
	background: $color__powen-slider-content-background;
	h2 {
		color: $color_text_on_dark_background_default;
	}
	p {
		color: $color_text_on_dark_background_default;
		width: 100%;
	}
}