<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>originalPrice</key>
				<string>45</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>纯色拼接修身外套</string>
				<key>tradeImage</key>
				<string>纯色拼接修身外套</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>简约拉链夹克</string>
				<key>tradeImage</key>
				<string>简约拉链夹克</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>男士时尚都市迷彩拼接</string>
				<key>tradeImage</key>
				<string>男士时尚都市迷彩拼接</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>全撞色连帽夹克</string>
				<key>tradeImage</key>
				<string>全撞色连帽夹克</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>正品男士都市休闲立领皮衣</string>
				<key>tradeImage</key>
				<string>正品男士都市休闲立领皮衣</string>
			</dict>
		</array>
		<key>type</key>
		<string>外套</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>20</string>
				<key>money</key>
				<string>35</string>
				<key>originalPrice</key>
				<string>45</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>毛呢冬带毛领</string>
				<key>tradeImage</key>
				<string>毛呢冬带毛领</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>男士休闲羊毛西服</string>
				<key>tradeImage</key>
				<string>男士休闲羊毛西服</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>tradeName</key>
				<string>长款千鸟格大衣</string>
				<key>tradeImage</key>
				<string>长款千鸟格大衣</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>撞色加厚双排扣大衣</string>
				<key>tradeImage</key>
				<string>撞色加厚双排扣大衣</string>
			</dict>
		</array>
		<key>type</key>
		<string>大衣</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>30</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>纯棉9分直筒裤</string>
				<key>tradeImage</key>
				<string>纯棉9分直筒裤</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>多口袋修身小脚裤</string>
				<key>tradeImage</key>
				<string>多口袋修身小脚裤</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>棉弹牛仔裤</string>
				<key>tradeImage</key>
				<string>棉弹牛仔裤</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>磨白破洞牛仔裤</string>
				<key>tradeImage</key>
				<string>磨白破洞牛仔裤</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>磨白水洗牛仔裤</string>
				<key>tradeImage</key>
				<string>磨白水洗牛仔裤</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>男士麻料卷边休闲裤</string>
				<key>tradeImage</key>
				<string>男士麻料卷边休闲裤</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>时尚休闲糖果色休闲裤</string>
				<key>tradeImage</key>
				<string>时尚休闲糖果色休闲裤</string>
			</dict>
		</array>
		<key>type</key>
		<string>裤装</string>
	</dict>
</array>
</plist>
