<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>originalPrice</key>
				<string>45</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>大脆鸡扒麦满分</string>
				<key>tradeImage</key>
				<string>大脆鸡扒麦满分</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>汉堡王</string>
				<key>tradeImage</key>
				<string>汉堡王</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>火腿扒麦满分</string>
				<key>tradeImage</key>
				<string>火腿扒麦满分</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>吉士蛋麦满分</string>
				<key>tradeImage</key>
				<string>吉士蛋麦满分</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>吉士汉堡王</string>
				<key>tradeImage</key>
				<string>吉士汉堡王</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>巨无霸</string>
				<key>tradeImage</key>
				<string>巨无霸</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>麦辣鸡腿汉堡</string>
				<key>tradeImage</key>
				<string>麦辣鸡腿汉堡</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>麦香鸡</string>
				<key>tradeImage</key>
				<string>麦香鸡</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>麦香鱼</string>
				<key>tradeImage</key>
				<string>麦香鱼</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>培根蔬萃双层牛宝</string>
				<key>tradeImage</key>
				<string>培根蔬萃双层牛宝</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>双层吉士汉堡</string>
				<key>tradeImage</key>
				<string>双层吉士汉堡</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>双层原味板烧鸡腿麦满分</string>
				<key>tradeImage</key>
				<string>双层原味板烧鸡腿麦满分</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>烟肉蛋麦满分</string>
				<key>tradeImage</key>
				<string>烟肉蛋麦满分</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>原味板烧鸡腿堡</string>
				<key>tradeImage</key>
				<string>原味板烧鸡腿堡</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>原味板烧鸡腿麦满分</string>
				<key>tradeImage</key>
				<string>原味板烧鸡腿麦满分</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>猪柳蛋麦满分</string>
				<key>tradeImage</key>
				<string>猪柳蛋麦满分</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        夏天正劲，混搭出趣！全新推出的咖啡三重奏星冰乐，把苏门答腊、意式烘焙和浓缩烘焙三种滋味放进一杯！美味的咖啡吉利，冰爽的咖啡星冰乐和滑顺的浓缩咖啡搅打奶油，为你打造浓郁的咖啡体验。更有夏莓意式奶冻星冰乐与摩卡曲奇星冰乐，丰富你的选择！</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>猪柳麦满分</string>
				<key>tradeImage</key>
				<string>猪柳麦满分</string>
			</dict>
		</array>
		<key>type</key>
		<string>汉堡</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>originalPrice</key>
				<string>45</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>圆筒冰淇淋</string>
				<key>tradeImage</key>
				<string>圆筒冰淇淋</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>双旋圆筒冰淇淋</string>
				<key>tradeImage</key>
				<string>双旋圆筒冰淇淋</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>tradeName</key>
				<string>缤纷圆筒冰淇淋</string>
				<key>tradeImage</key>
				<string>缤纷圆筒冰淇淋</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>朱古力新地</string>
				<key>tradeImage</key>
				<string>朱古力新地</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>草莓新地</string>
				<key>tradeImage</key>
				<string>草莓新地</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>奥利奥麦旋风</string>
				<key>tradeImage</key>
				<string>奥利奥麦旋风</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>草莓奥利奥麦旋风</string>
				<key>tradeImage</key>
				<string>草莓奥利奥麦旋风</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>香芋派</string>
				<key>tradeImage</key>
				<string>香芋派</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>20</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>菠萝派</string>
				<key>tradeImage</key>
				<string>菠萝派</string>
			</dict>
		</array>
		<key>type</key>
		<string>甜品</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>薯条</string>
				<key>tradeImage</key>
				<string>薯条</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>麦乐鸡</string>
				<key>tradeImage</key>
				<string>麦乐鸡</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>玉米杯</string>
				<key>tradeImage</key>
				<string>玉米杯</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>香辣鸡腿</string>
				<key>tradeImage</key>
				<string>香辣鸡腿</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        优质食品，美好生活是我们时时刻刻、无处不在的承诺——用优质的食品和饮料来提高生活质量，将该理念贯穿生命各个阶段</string>
				<key>saveMoney</key>
				<string>23</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>麦辣鸡翅</string>
				<key>tradeImage</key>
				<string>麦辣鸡翅</string>
			</dict>
		</array>
		<key>type</key>
		<string>小食</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>阿萨姆奶茶</string>
				<key>tradeImage</key>
				<string>阿萨姆奶茶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>阿萨姆奶茶雪冰</string>
				<key>tradeImage</key>
				<string>阿萨姆奶茶雪冰</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>东方全叶立体茶包</string>
				<key>tradeImage</key>
				<string>东方全叶立体茶包</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>黑芝麻珍珠奶茶</string>
				<key>tradeImage</key>
				<string>黑芝麻珍珠奶茶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>红茶</string>
				<key>tradeImage</key>
				<string>红茶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>红莓缤纷酷</string>
				<key>tradeImage</key>
				<string>红莓缤纷酷</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>可口可乐</string>
				<key>tradeImage</key>
				<string>可口可乐</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>芒果雪冰</string>
				<key>tradeImage</key>
				<string>芒果雪冰</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>蜜瓜缤纷酷</string>
				<key>tradeImage</key>
				<string>蜜瓜缤纷酷</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>摩卡缤纷酷</string>
				<key>tradeImage</key>
				<string>摩卡缤纷酷</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>摩卡雪冰</string>
				<key>tradeImage</key>
				<string>摩卡雪冰</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>拿铁雪冰</string>
				<key>tradeImage</key>
				<string>拿铁雪冰</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>热朱古力</string>
				<key>tradeImage</key>
				<string>热朱古力</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>特技浓滑奶茶</string>
				<key>tradeImage</key>
				<string>特技浓滑奶茶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>鲜奶抹茶雪冰</string>
				<key>tradeImage</key>
				<string>鲜奶抹茶雪冰</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>鲜奶奶茶</string>
				<key>tradeImage</key>
				<string>鲜奶奶茶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>鲜牛奶</string>
				<key>tradeImage</key>
				<string>鲜牛奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>鲜煮咖啡</string>
				<key>tradeImage</key>
				<string>鲜煮咖啡</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>香芋缤纷酷</string>
				<key>tradeImage</key>
				<string>香芋缤纷酷</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>雪碧</string>
				<key>tradeImage</key>
				<string>雪碧</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        自从1940年夏天开第一家冰淇淋店开始，迄今为止，已在25个国家，开了近8000家连锁店。它提供Dairy Queen冰淇淋、Orange Julius鲜果露、Karmelkom爆米花等休闲食品，是世界销量第一的软冰淇淋专家和全球连锁快餐业巨头之一。\n        DQ的冰淇淋都是软体冰淇淋，经过均匀搅拌后，有倒杯不洒的美誉。明星产品“暴风雪”还能做到“倒杯不洒”，这是其它冰淇淋所不具备的，非常神奇。美国权威期刊“Restaurants and Institutions”每年对全球400个连锁餐饮品牌进行排名，DQ在冰淇淋产品市场连续数年全球排名第一！</string>
				<key>saveMoney</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>优品豆浆</string>
				<key>tradeImage</key>
				<string>优品豆浆</string>
			</dict>
		</array>
		<key>type</key>
		<string>饮料</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。\n        面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>10</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>经典芝士蛋糕</string>
				<key>tradeImage</key>
				<string>经典芝士蛋糕</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。\n        面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>10</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>香蕉核桃麦芬</string>
				<key>tradeImage</key>
				<string>香蕉核桃麦芬</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。\n        面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>10</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>蓝莓麦芬</string>
				<key>tradeImage</key>
				<string>蓝莓麦芬</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。\n        面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>10</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>巧克力麦芬</string>
				<key>tradeImage</key>
				<string>巧克力麦芬</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>cardNumber</key>
				<string>20625874563</string>
				<key>integral</key>
				<string>10</string>
				<key>money</key>
				<string>35</string>
				<key>tradeDescription</key>
				<string>        中华沃土，润生万物，时代沧桑，印证合兴风雨历程。几十年的风雨坎坷、改革创新，合兴走过了一条发展的路、创新的路、希望的路。在国家迅速发展的大环境下，在社会各界朋友以及广大顾客的大力支持下，合兴餐饮集团有了今天的规模。\n        面对取得的成绩我们没有丝毫的骄傲，我们将一如既往，用“良心品质”核心价值观来指导企业的行为，做到对顾客、对员工、对合作伙伴、对社会有良心，用双赢、多赢、共赢的观念来促进多方面的合作。为创建一个民族的、多品牌的、国内领先的快餐连锁企业集团而不懈努力，为民族餐饮业的发展做出自己积极的贡献。</string>
				<key>saveMoney</key>
				<string>10</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>拉明顿</string>
				<key>tradeImage</key>
				<string>拉明顿</string>
			</dict>
		</array>
		<key>type</key>
		<string>糕点</string>
	</dict>
</array>
</plist>
