<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>storePlistName</key>
		<string>16N</string>
		<key>storeDetail</key>
		<string>        16N是由年轻的法国品牌总监路易与中国的Ada与2011年共同经营的品牌。Ada和路易相识在浪漫之都巴黎，两人拥有共同的爱好与梦想，以及对时尚艺术的无尽热情和追求。路易出生并成长于法国巴黎的16区，那里是巴黎顶尖的时尚与经典的汇聚地之一。路易所创造的品牌精神，源自于自己在巴黎的生活经历以及对童年的回忆。整个品牌在设计风格上的灵感来自于他的经历，他的家庭以及童年所浏览过的地方。</string>
		<key>storeLogo</key>
		<string>16NLogo</string>
		<key>images</key>
		<array>
			<string>16N.jpg</string>
			<string>16N1.jpg</string>
			<string>16N2.jpg</string>
			<string>16N3.jpg</string>
		</array>
		<key>simpleStoreDetail</key>
		<string>16èME NORD，品味法国高雅文化与时尚潮流</string>
		<key>storeName</key>
		<string>16N</string>
	</dict>
	<dict>
		<key>storePlistName</key>
		<string>yunifang</string>
		<key>storeLogo</key>
		<string>御泥坊Logo</string>
		<key>storeDetail</key>
		<string>          御泥坊，相传在滩头，这个有着1500年历史的湘西边陲小镇，古代的居民们一直保留着一种奇特的“祭泥仪式”。 清光绪年间，以这种神秘泥块为原料生产的护肤品颇受妇女欢迎，成为宫中养颜圣品，被封为“御泥”。御泥坊通过网络口碑相传，已成为中国泥浆面膜第一品牌。</string>
		<key>images</key>
		<array>
			<string>御泥坊.jpg</string>
			<string>御泥坊1.jpg</string>
			<string>御泥坊2.jpg</string>
			<string>御泥坊3.jpg</string>
		</array>
		<key>simpleStoreDetail</key>
		<string>健康、莹白、如丝光滑</string>
		<key>storeName</key>
		<string>御泥坊</string>
	</dict>
	<dict>
		<key>storePlistName</key>
		<string>holy</string>
		<key>storeLogo</key>
		<string>holyLogo</string>
		<key>storeDetail</key>
		<string>     我们一直谨记以心调配，坚持手造甜品的理念，结合新颖，风尚滋味。每款甜品，皆是一场味蕾的精彩体验，亦盛载了顾客的甜蜜记忆。</string>
		<key>images</key>
		<array>
			<string>holy.jpg</string>
			<string>holy1.jpg</string>
			<string>holy2.jpg</string>
			<string>holy3.jpg</string>
			<string>holy4.jpg</string>
		</array>
		<key>simpleStoreDetail</key>
		<string>享受夏日悠闲午后时光</string>
		<key>storeName</key>
		<string>holy</string>
	</dict>
	<dict>
		<key>storePlistName</key>
		<string>McDonalds</string>
		<key>storeDetail</key>
		<string>          麦当劳于1990年进入中国大陆市场，一直坚持为顾客提供高品质的食品、亲切友善的服务、以及清洁舒适的用餐环境。麦当劳还相继引入甜品站（1994年）、24小时营业餐厅（2005年）、得来速汽车餐厅（2006年）、24小时麦乐送（2008年）及McCafé（2001年）。截至2014年底，麦当劳在中国大陆拥有超过2000家餐厅，旗下员工超过100,000名。麦当劳中国已五度蝉联知名调研机构Top Employers Institute评选的“中国杰出雇主”，并已连续第四次获得怡安翰威特（Aon Hewitt）“亚太地区最佳雇主“和“中国最佳雇主“称号。</string>
		<key>storeLogo</key>
		<string>McDonaldsLogo</string>
		<key>images</key>
		<array>
			<string>McDonalds.png</string>
			<string>McDonalds1.png</string>
			<string>McDonalds2.png</string>
			<string>McDonalds3.png</string>
			<string>McDonalds4.png</string>
			<string>McDonalds5.png</string>
		</array>
		<key>simpleStoreDetail</key>
		<string>I’m lovin’ it</string>
		<key>storeName</key>
		<string>McDonalds</string>
	</dict>
</array>
</plist>
