@charset "utf-8";
/* CSS Document */

/*sanfu blue */

/*  bg   */
.bg1{ background:#27aae1;}
.bg2{ background:#e2e3e4;}
.bg3{ background:#ef509d;}
.bg4{ background:#8dc63f;}
.bg5{ background:#8472b4;}
.bg6{ background:#a7a9ac;}
.bg7{ background:#dcf2fd;}






/*font color*/
.fc1{color:#FFF;}
.fc2{color:#27aae1;}
.fc3{color:#ef509d;}
.fc4{color:#231f20;}
.fc5{ color:#a7a9ac;}
.fc6{ color:#6d6f71;}
.fc7{ color:#828487;}
.fc8{ color:#414142;}
.fc9{ color:#f1582a;}




/*font size*/
.ft21{ font-size:21px;}
.ft18{ font-size:18px;}
.ft20{ font-size:20px;}
.ft17{ font-size:17px;}
.ft43{ font-size:43px;}
.ft11{ font-size:11px;}
.ft14{ font-size:14px;}
.ft13{ font-size:13px; width:75%;}
.ft10{ font-size:10px;}
.ft15{ font-size:15px;}
.ft16{ font-size:16px;}
.ft27{ font-size:27px;}
.fw{ font-weight:bold;}

