/**
 *
 * -------------------------------------------
 * Basic template CSS file
 * -------------------------------------------
 *
 **/
 
/*
 *
 * 1. Global elements
 *
 *
------------------------------------ */
 
/* 1.1. Base document elements
==================================== */

* {
	outline: none!important;
}

*, 
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

html {
	-webkit-font-smoothing: subpixel-antialiased;
}

body { 
	background: #fff url('../images/bg.jpg') no-repeat center top;
	color: #666;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
	margin: 0;
	min-height: 100%;
	padding: 0;
	-ms-word-wrap: break-word;
		word-wrap: break-word;
}

body.frontpage {
	background-image: none;
}
body.buddypress {
	background-image: url('../images/guest_bg.jpg');
}

body[data-mobile="true"] #main-menu-mobile select {
    font-size: 50px;
}

/* 1.2. Base typography elements
==================================== */

a,
#gk-mainbody a:active,
#gk-mainbody a:focus,
#gk-mainbody a:hover,
#gk-mainbody footer a,
#gk-mainbody #comments a,
#gk-mainbody.contactpage a,
#gk-mainbody header h1 a:active,
#gk-mainbody header h1 a:focus,
#gk-mainbody header h1 a:hover,
#gk-mainbody header h2 a:active,
#gk-mainbody header h2 a:focus,
#gk-mainbody header h2 a:hover,
#gk-mainbody .content a,
#gk-mainbody .content .faq li a:hover {
	color: #fa7252;
	-webkit-transition: color 0.2s linear;
	   -moz-transition: color 0.2s linear;
	     -o-transition: color 0.2s linear;
	        transition: color 0.2s linear;
	text-decoration: none;
}

a:hover,
a:active,
a:focus,
#gk-mainbody a,
#gk-mainbody header h1 a,
#gk-mainbody header h2 a,
#gk-mainbody footer a:hover,
#gk-mainbody #comments a:hover,
#gk-sidebar .box a:hover,
#gk-mainbody .content a:hover,
#gk-mainbody .content a:active,
#gk-mainbody .content a:focus,
#gk-mainbody.contactpage a:hover,
#gk-mainbody .content .faq li a {
	color: #010101;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1B1D1F;
	font-weight: 500;
	line-height: 1.2;
	margin: 0;
	padding: 0;
	text-transform: uppercase
}

h1 {
	font-size: 40px;
	text-transform: none;
}

h2 {
	font-size: 36px;
}

.page-title {
	font-size: 36px;
	margin: 0 0 10px;
}

.tag .page-title {
	padding-bottom: 30px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 14px;
	font-weight: 700; 
	margin: 32px 0 0;
	text-transform: none
}

h5 {
	font-size: 13px;
}

h6 {
	font-size: 12px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol {
	margin: 0;
	padding: 0;
}

ul li,
ol li {
	line-height: 2.0;
}

p {
	margin: 1em 0 2em;
}

img {
	height: auto;
	max-width: 100%;
}

.box ul ul,
.box ol ol {
	border-top: 1px solid #eee;
	margin: 0;
	padding: 0 0 0 20px;
}

.box ul .children {
	margin-top: 5px;
}

/* 1.3. Base form elements
==================================== */

/* buttons */
.btn,
button,
.button,
.readon,
.nav-btn a,
.more-link,
a.gk-button,
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
	background: #fa7252;
	border: 1px solid #fa7252;
	color: #fff!important;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 38px;
	line-height: 39px;
	margin: 0 5px 2px 2px;
	padding: 0 24px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled],
.button:active,
.button:focus,
.button:hover,
.nav-btn a:active,
.nav-btn a:focus,
.nav-btn a:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button:active,
input[type="button"]:active,
input[type="submit"]:active,
button.disabled,
input[type="button"].disabled,
input[type="submit"].disabled,
a.gk-button:hover,
a.gk-button:active,
a.gk-button.active,
a.gk-button.disabled,
a.gk-button[disabled],
button:focus,
a.gk-button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
.more-link:active,
.more-link:focus,
.more-link:hover,
.gk-button,
a.gk-button,
.btn.invert {
 	background: #0F1725;
 	border-color: #0F1725;
}

.btn.invert:hover,
.btn.invert:active,
.btn.invert.active,
.gk-button:active,
.gk-button:focus,
.gk-button:hover,
a.gk-button:active,
a.gk-button:focus,
a.gk-button:hover {
	border-color: #444;
	color: #444!important;
}

/* input fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="www"],
input[type="tel"],
textarea  {
	background: #fff;
    border-color: #bcbcbc #dadada #e5e5e5;
    border-style: solid;
    border-width: 1px;
    color: #777;
    font-family: Arial,sans-serif;
    height: 39px;
    padding: 10px 12px !important;
	max-width: 100%!important;
}

textarea {
	height: auto;
	max-width: 100%!important;
	padding: 24px
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
	background: #fffef4;
}

label {
	display: inline-block;
	color: #111;
    font-size: 13px;
    font-weight: 600;
    padding: 0 6px 0 0;
}

select {
	height: inherit;
	max-width: 100%;
	margin-left: 1px;
	padding: 6px
}

/* 1.4. Base other elements
==================================== */

article {
	margin: 0;
}

.tag-page article,
.category-page article,
.search-page article,
.archive article,
.page-template-template-latest-php article,
.home #gk-mainbody article {
	border-top: 1px solid #e5e5e5;
	padding-top: 48px;
	margin: 0 0 52px 0;
}

.tag-page article:first-child,
.category-page article:first-child,
.search-page article:first-child,
.archive article:first-child,
.page-template-template-latest-php article:first-child,
.home #gk-mainbody article:first-child {
	border-top: 0;
	padding-top: 0;
}

.archive.author article:first-of-type {
	border-top: 0;
	padding-top: 0;
}

.tag-page article .summary,
.category-page article .summary,
.search-page article .summary,
.archive article .summary,
.page-template-template-latest-php article .summary,
.home #gk-mainbody article .summary {
	margin: 20px 0 0;
}

.tag-page article .summary a,
.category-page article .summary a,
.search-page article .summary a,
.archive article .summary a,
.page-template-template-latest-php article .summary a,
.home #gk-mainbody article .summary a {
	display: inline-block;
	float: none;
	margin: 24px 0 0;
}

.page-template-template-latest-php article:first-child {
	border-top: 0;
	padding-top: 0;
}

.tag-page article:first-child,
.category-page article:first-child,
.search-page article:first-child,
.archive article:first-child {
	border-top: 0;
}

.tag-page > hr,
.search-page > hr {
	border: none;
}

#gk-mainbody {
	margin-bottom: 60px;
}

.home #gk-mainbody {
	margin: 0;
}


/* 1.5. Base CSS classes
==================================== */

/*
 *
 * 2. Template containers
 *
 *
------------------------------------ */

.gk-page-wrap + #gk-footer {
	margin-top: 20px;
}

.gk-page,
#gk-bottom > .widget-area.gk-page {
	margin: 0 auto!important;
	width: 100%; 
}

#gk-mainbody-columns {
	background: #fff;
	display: block;
	overflow: hidden;
	padding: 60px;
	width: 100%;
}

#gk-mainbody-columns > section {
	display: block;
	float: left;
	padding: 0;
}

#gk-mainbody-columns > aside,
#gk-inset {
	background: #fff;
	display: block;
	float: left;
	padding: 0 0 0 45px;
}

#gk-content-wrap {
	float: left;
}

#gk-mainbody-columns.gk-column-left > section,
.gk-inset-left #gk-content-wrap.has-inset {
	float: right;
}

#gk-mainbody-columns.gk-column-left > aside {
	float: left;
	padding: 0 62px 0 0;
}

#gk-mainbody-columns.gk-column-left > section {
	float: right;
}

#gk-mainbody-columns.gk-column-left > aside,
.gk-inset-left.has-inset #gk-inset {
	float: left;
	padding: 0 45px 0 0;
}

/*
 *
 * 3. Template structure
 *
 *
------------------------------------ */
 
/* 3.1. Top
==================================== */

#gk-top {
	overflow: hidden;
	padding: 24px 14px;
}

#gk-top-bar.active {
	margin-top: 0;
}

#gk-top-bar {
	background: #111; 
	color: #fff;
	height: 46px;
	line-height: 46px;
	overflow: hidden;
	-webkit-transition: all .35s linear;
	-moz-transition: all .35s linear;
	-ms-transition: all .35s linear;
	-o-transition: all .35s linear;
	transition: all .35s linear;
}

#gk-top-bar > div {
	position: relative;
	-webkit-transition: all .35s linear;
	-moz-transition: all .35s linear;
	-ms-transition: all .35s linear;
	-o-transition: all .35s linear;
	transition: all .35s linear;
}

#gk-top-bar .box {
	padding: 0;
}

/* Button Cart */
#btn-cart {
	color: #666;
	float: right;
	height: 38px;
	line-height: 38px;
}

#btn-cart > a {
	color: #666;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 10px;
	font-weight: normal;
	line-height: 38px;
	padding: 0 16px 0 24px;
	text-transform: uppercase;
	-webkit-transition: color .5s ease-out;
	-moz-transition: color .5s ease-out;
	-ms-transition: color .5s ease-out;
	-o-transition: color .5s ease-out;
	transition: color .5s ease-out;
}

#btn-cart i {
	color: #1b1d1f;
	font-size: 20px;
	line-height: 38px;
}

#btn-cart span {
	font-weight: bold;
}

/* 3.2. Header
==================================== */

/* Header */
#gk-head {
	margin: 0;
	padding: 0;
	position: relative;
}

#gk-head.gk-page {
	padding: 150px 0 0 0;
}

#gk-header-top > .gk-page,
#gk-header-nav > div {
	position: relative;
}

#gk-header-nav {
	padding: 40px 0 0 0;
	position: absolute;
	top: 0;
	-webkit-transition: top .5s ease-out;
	-moz-transition: top .5s ease-out;
	-ms-transition: top .5s ease-out;
	-o-transition: top .5s ease-out;
	transition: top .5s ease-out;
	width: 100%;
	z-index: 10000;
}

#gk-header-nav > div {
	position: relative;
}

#gk-header-widgets {
	bottom: 0;
	left: 50%;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	z-index: 100;
}

#gk-header-left,
#gk-header-right {
	bottom: 0;
	position: absolute;
}
#gk-header-left .box,
#gk-header-right .box {
	margin: 0;
}
#gk-header-right {
	right: 0;
}
#gk-header-left {
	background: #fff;
	left: 0;
	overflow: hidden;
	padding: 25px 15px;
	position: relative;
}
#gk-header-left .header {
	display: none;
}
.csstransforms #gk-header-left .box-title {
	background: #0F1725;
	color: #fff;
	display: block; 
	height: 100%;
	left: 0;
	line-height: 60px;
	padding: 0!important;
	position: absolute;
	text-align: center;
	top: 0;
	width: 60px;
}
.csstransforms #gk-header-left .box-title > small {
	float: left;
	font-size: 14px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	transform: translateX(-50%) translateY(-50%) rotate(-90deg);
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	white-space: nowrap;
}
.csstransforms #gk-header-left .box-title + .textwidget,
.csstransforms #gk-header-left .box-title + .gk-nsp {
	padding-left: 80px;
}
#gk-header-bottom {
	background: #f2f4f5;
	padding: 28px 0;
}

#gk-header-bottom .box {
	margin: 0;
	padding: 0;
}

#gk-head .box{
	margin: 0;
	padding: 0;
}

#gk-bg {
	-webkit-transition: margin-left .3s ease-out;
	-moz-transition: margin-left .3s ease-out;
	-ms-transition: margin-left .3s ease-out;
	-o-transition: margin-left .3s ease-out;
	transition: margin-left .3s ease-out;
	overflow: hidden;
	width: 100%;
}

#gk-page-title {
	color: #fff;
	padding: 36px 0;
}

#gk-page-title a {
	color: #fff;
}

#gk-page-title > span {
	background: #0f1725;
	padding: 2px 12px;
}

#gk-head:after,
#gk-head > div:after,
#gk-breadcrumb-area:after,
#gk-bottom1:after,
#gk-bottom2:after,
#gk-bottom3:after,
#gk-bottom4:after,
#gk-bottom5:after,
#gk-bottom5 .widget-area:after {
	clear: both;
	content: "";
	display: table;
}

#gk-head h1 {
	margin: 0;
}

/* Logo */
#gk-header-nav h1 {
    float: left;
}

a.cssLogo {
	height: 100px;
	margin: 0 24px 0 0;
	padding: 0;
	text-indent: -999em;
	text-shadow: none;
	width: 159px;
	display: inline-block;
}

a.cssLogo {
	background: transparent url('../images/logo.png') no-repeat 0 0;
	/* You can specify there logo size and background */
	height: 75px;
	width: 274px;
}

.svg a.cssLogo {
	background-image:  url('../images/logo.svg');
}

a.textLogo {
	color: #fff;
	display: inline-block;
	float: left;
	font-size: 30px;
	font-weight: normal;
	height: 75px;
	line-height: 60px;
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .44);
	text-align: center;
	text-indent: 0;
	text-transform: uppercase;
	width: auto;
}

a.textLogo small {
	display: block;
	font-size: 14px;
	line-height: 1;
	margin-top: -12px;
}

/* Userarea */
#gk-user-area {
	color: #999;
	float: left;
	font-size: 12px;
	margin-top: -64px;
}
#gk-user-area a {
	color: #c1c1c1;
	text-decoration: underline;
}

.imageLogo {
	display: inline-block;
	margin: 0 0 15px;
}

/* 3.3. Content
==================================== */

section.intro {
	font-size: 110%;
	padding: 0;
}

.box::after,
article::after,
#respond::after,
#gk-top1::after,
#gk-top1 > div::after,
#gk-top2 > div::after,
#gk-bottom::after,
#gk-mainbody::after,
#gk-mainbody-columns::after,
#gk-bottom > div:after {
    clear: both;
    content: "";
    display: table;
}

section.content::after {
    clear: both;
    content: "";
    display: table;
}

#gk-mainbody-top {
	padding: 0 0 10px 0;
}

#gk-mainbody + #gk-mainbody-bottom {
	margin-top: 0;
	padding-top: 10px;
}

#gk-mainbody strong,
#gk-mainbody b {
	font-weight: 600;
	color: #111;
}

#gk-mainbody .box {
	padding-left: 0!important;
	padding-right: 0!important;
	width: 100%;
}

.frontpage #gk-mainbody .box {
	margin: 0;
	padding-bottom: 70px;
}

.frontpage #gk-mainbody-columns {
	padding: 70px 0 1px;
}

/* 3.4. Sidebar
==================================== */
#gk-sidebar .box {
	padding-left: 0;
	padding-right: 0;
}

/* 3.5. Bottom
==================================== */
#gk-bottom {
	background: #f1f1f1;
	margin: 0;
}

#gk-bottom > div {
	overflow: hidden;
	margin: 0 -10px;
	padding: 44px 0 35px 0;
}
.gk-bottom > div {
	margin: 0 -10px!important;
}
#gk-bottom .box {
	float: left;
}

#gk-bottom .box,
#gk-bottom .box h3 {
	font-size: 12px;
}
#gk-bottom .box h3 {
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 27px;
	text-transform: none;
}
#gk-bottom .box li {
	border: none;
	padding: 3px 0;
}
#gk-bottom .box a {
	color: #999;
}
#gk-bottom .box a:active,
#gk-bottom .box a:focus,
#gk-bottom .box a:hover {
	color: #111;
}
#gk-bottom .box.bigtitle .box-title {
	color: #999;
	font-size: 13px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	text-align: left;
	text-transform: none;
}
#gk-bottom .box.bigtitle .box-title > small {
	color: #111;
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding-top: 6px;
	text-align: left;
	text-transform: uppercase;
}

.gk-page-wrap + #gk-bottom1 > div:before,
.gk-page-wrap + #gk-bottom2 > div:before,
.gk-page-wrap + #gk-bottom3 > div:before,
.gk-page-wrap + #gk-bottom4 > div:before,
.gk-page-wrap + #gk-bottom5 > div:before,
.gk-page-wrap + .gk-single-widget > div > div:before {
	border-top: 1px solid #e5e5e5;
	content: "";
	display: block;
	height: 1px;
	margin: 0 auto;
	position: relative;
	top: -60px;
	width: 100%;
}

.gk-page-wrap + #gk-bottom5 > div:before {
	top: -75px;
}

.gk-page-wrap + .gk-single-widget > div > div:before {
	top: -90px;
}

.bottom1-grey #gk-bottom1,
.bottom2-grey #gk-bottom2,
.bottom3-grey #gk-bottom3,
.bottom4-grey #gk-bottom4 {
	background: #f1f1f1;
}

.bottom1-bar #gk-bottom1,
.bottom2-bar #gk-bottom2,
.bottom3-bar #gk-bottom3,
.bottom4-bar #gk-bottom4 {
	padding: 0;
}

.bottom1-bar #gk-bottom1 .box,
.bottom2-bar #gk-bottom2 .box,
.bottom3-bar #gk-bottom3 .box,
.bottom4-bar #gk-bottom4 .box {
	display: table-cell!important;
	float: none;
	margin: 0;
	padding: 30px;
	position: relative;
	vertical-align: top;
}

.bottom1-bar #gk-bottom1 > div,
.bottom2-bar #gk-bottom2 > div,
.bottom3-bar #gk-bottom3 > div,
.bottom4-bar #gk-bottom4 > div {
	display: table;
	width: 100%;
}

.bottom1-fullwidth #gk-bottom1,
.bottom2-fullwidth #gk-bottom2,
.bottom3-fullwidth #gk-bottom3,
.bottom4-fullwidth #gk-bottom4 {
	padding: 0!important;	
} 

.bottom1-fullwidth #gk-bottom1 .textwidget,
.bottom2-fullwidth #gk-bottom2 .textwidget,
.bottom3-fullwidth #gk-bottom3 .textwidget,
.bottom4-fullwidth #gk-bottom4 .textwidget {
	max-width: 100%;
	padding: 0!important;
	width: 100%;
}

.bottom1-grey #gk-bottom1 > div:before,
.bottom2-grey #gk-bottom2 > div:before,
.bottom3-grey #gk-bottom3 > div:before,
.bottom4-grey #gk-bottom4 > div:before,
.gk-page-wrap + .gk-single-widget > .parallax > div:before {
	display: none;
}

.gk-page-wrap + .gk-single-widget > div:before {
	display: none!important;
}

.bottom1-fullwidth #gk-bottom1,
.bottom2-fullwidth #gk-bottom2,
.bottom3-fullwidth #gk-bottom3,
.bottom4-fullwidth #gk-bottom4 {
	padding: 0!important;	
} 

.bottom1-fullwidth #gk-bottom1 .textwidget,
.bottom2-fullwidth #gk-bottom2 .textwidget,
.bottom3-fullwidth #gk-bottom3 .textwidget,
.bottom4-fullwidth #gk-bottom4 .textwidget {
	max-width: 100%;
	padding: 0!important;
	width: 100%;
}

#gk-top1,
#gk-top2 {
	padding: 30px 0;
}

#gk-bottom1,
#gk-bottom2,
#gk-bottom3,
#gk-bottom4 {
	padding: 60px 0;
}

#gk-bottom1.gk-single-widget,
#gk-bottom2.gk-single-widget,
#gk-bottom3.gk-single-widget,
#gk-bottom4.gk-single-widget,
#gk-bottom5.gk-single-widget {
	padding: 90px 0 65px;
}

#gk-bottom1.gk-single-widget .box,
#gk-bottom2.gk-single-widget .box,
#gk-bottom3.gk-single-widget .box,
#gk-bottom4.gk-single-widget .box,
#gk-bottom5.gk-single-widget .box {
	margin: 0;
	padding: 0;
}

/* Bottom 5 */
#gk-bottom5 .box {
	font-size: 12px;
	margin: 0;
	padding: 0 20px;
}
#gk-bottom5 {
	padding: 90px 0 65px;
}

#gk-bottom5 .box li {
	border: none;
	line-height: 1.8;
	padding: 0;
}
#gk-bottom5 .box a {
	color: #666;
}

#gk-bottom5 .box a:active,
#gk-bottom5 .box a:focus,
#gk-bottom5 .box a:hover {
	color: #fa7252;
}

#gk-bottom5 .widget-area {
	margin: 0 -20px;
}

/* 3.6. Footer
==================================== */

#gk-footer {
	color: #666;
	font-size: 12px;
	line-height: 2;
	padding: 0;
	text-align: center;
}

#gk-footer > div {
	border-top: 1px solid #e5e5e5;
}


#gk-footer a {
	color: #1b1d1f;
}

#gk-footer a:active,
#gk-footer a:focus,
#gk-footer a:hover {
	color: #fa7252;
}

#footer-menu {
	margin: 45px auto 5px auto;
}

#footer-menu li {
	border: none;
	display: inline-block;
	float: none;
	font-weight: 700;
	line-height: 1;
	margin: 0!important;
	padding: 0 7px!important;
}

#footer-menu li:before {
	content: "|";
	left: -8px;
	position: relative
}

#footer-menu li:first-child:before {
	display: none;
}

#footer-menu li a {
	color: #666;
	display: inline-block;
	padding: 8px 0;
}

#footer-menu ul {
	display: none;
}

#gk-footer .gk-copyrights {
	margin: 0 auto 20px;
}

#gk-footer .gk-framework-logo {
	clear: both;
	display: block;
	margin: 0 auto!important;
	padding: 32px 0 16px 0!important;
}

#gk-footer strong {
	color: #000;
}

/* Style switcher */
#gk-style-area {
	clear: both;
	display: block;
	line-height: 10px;
	margin: 20px 0 40px 0;
	padding: 10px 0 11px 0;
	text-align: center;
}

#gk-style-area a {
	display: inline-block;
	height: 9px;
	margin: 15px 0 0 5px;
	text-indent: -9999px;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-o-transition: -o-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
	width: 9px;
}

#gk-style-area a:first-child {
	margin-left: 0;
}

#gk-style-area a:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}

#gk-color1 { background: #fa7252; }
#gk-color2 { background: #dfc040; }
#gk-color3 { background: #65c1cf; }

/*
 *
 * 4. Widget styles
 *
 *
------------------------------------ */
 
/* 4.1. Base style
==================================== */

.box {
	padding: 0 10px;
}

/* 4.2. Base style for other areas
==================================== */
#gk-top1 {
	overflow: hidden;
	padding: 30px 0;
}

#gk-top1 .box,
#gk-top2 .box,
#gk-bottom .box {
	float: left;
	margin-bottom: 45px;
}

#gk-mainbody-top .box,
#gk-mainbody-bottom .box {
	padding: 0;
}

/* Module groups */
#gk-top1 .box,
#gk-top2 .box,
#gk-bottom1 .box,
#gk-bottom2 .box,
#gk-bottom3 .box,
#gk-bottom4 .box,
#gk-bottom5 .box {
	/* Columns in the positions blocks */
	float: left;
}

#gk-top1 > div > .box,
#gk-top2 > div > .box,
#gk-bottom1 > div > .box,
#gk-bottom2 > div > .box,
#gk-bottom3 > div > .box,
#gk-bottom4 > div > .box {
	margin-bottom: 45px;
}
#gk-top1 > div > .box + .box,
#gk-top2 > div > .box + .box,
#gk-bottom1 > div > .box + .box,
#gk-bottom2 > div > .box + .box,
#gk-bottom3 > div > .box + .box,
#gk-bottom4 > div > .box + .box {
	margin-top: 0;
}

.widget-area .col1 { width: 100%; }
.widget-area .col2 { width: 50%; }
.widget-area .col3 { width: 33.3%; }
.widget-area .col4 { width: 25%; }
.widget-area .col5 { width: 20%; }
.widget-area .col6 { width: 16.6%; }

.widget-area .box.last1 { width: 100%; }
.widget-area .box.last2 { width: 50%; }
.widget-area .box.last3 { width: 33.3%; }
.widget-area .box.last4 { width: 25%; }
.widget-area .box.last5 { width: 20%; }

.widget-area .box.double.last2 {
	width: 66.666666%;
}

.widget-area .box.double.last2 ~ .box.last2 {
	width: 33.333333%;
}

.widget-area .nth1 {
	clear: both;
}


/* 4.3. Device classes
==================================== */

.onlyDesktop {
	display: block!important;
}

.onlyTablets {
	display: none!important;
}

.onlySmartphones {
	display: none!important;
}

.onlyTabltetsAndSmartphones {
	display: none!important;
}