/**
 *
 * -------------------------------------------
 * Template CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 5. Wordpress elements styling
 *
 *
------------------------------------ */
 
/* 5.1. Main menu
==================================== */ 

#main-menu-mobile {
	display: none!important;
}

body[data-mobile="true"] #main-menu-mobile select {
	font-size: 50px;
}

#gk-main-menu {
	float: right;
	margin: 0;
	padding: 0;
}

#gk-main-menu .gk-menu-wrap {
	display: block;
	margin: 0;
	position: relative;
	text-align: center;
}

#gk-main-menu:after {
	clear: both;
	content: "";
	display: table;
}

#gk-main-menu #main-menu {
	margin: 0;
	padding: 0;
}

#gk-main-menu #main-menu > li {
	clear: none!important;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	text-transform: uppercase;
	width: auto;
}

#gk-main-menu #main-menu > li > a {
	color: #fff;
	display: block;
	height: 60px;
	line-height: 60px;
	padding: 0 10px;
	position: relative;
}

#gk-main-menu #main-menu > li:last-child > a {
	padding-right: 0;
}

#gk-main-menu #main-menu > li:hover,
#gk-main-menu #main-menu > li a:hover,
#gk-main-menu #main-menu > li.active > a {
	color: #fa7252;
}


/* Submenu */
#gk-main-menu .sub-menu {
	background: #fff;
	border: 1px solid #eee;
	left: -999em;
	padding-top: 10px;
	position: absolute;
	margin-top: 0;
	text-transform: none;
	width: 170px;
	z-index: 999;
}

#gk-main-menu .sub-menu ul {
	padding-bottom: 18px;
}

#gk-main-menu li:hover .sub-menu {
	left: auto;
}

#gk-main-menu .sub-menu li {
	font-size: 12px;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	padding: 0 20px;
	text-align: left; 
}

#gk-main-menu .sub-menu li:hover > a {
	-webkit-transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-ms-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
	transition: color .2s ease-out;
}

#gk-main-menu .sub-menu a {
	color: #777;
	display: block;
	padding: 7px 0;
}

#gk-main-menu .sub-menu li:hover > a,
#gk-main-menu .sub-menu li > a:active,
#gk-main-menu .sub-menu li > a:focus,
#gk-main-menu .sub-menu li > a:hover {
	color: #fa7252!important;
	text-decoration: none;
}

#gk-main-menu .sub-menu .sub-menu {
	left: -9999px!important;
	margin-left: 120px;
	margin-top: -48px!important;
}

#gk-main-menu #main-menu .sub-menu li:hover .sub-menu {
	left: auto!important;
}

/* Menu columns */
#gk-main-menu .menu-cols-2 > .sub-menu,
#gk-main-menu .menu-cols-3 > .sub-menu,
#gk-main-menu .menu-cols-4 > .sub-menu {
	padding-top: 0!important;
}
#gk-main-menu .menu-cols-2 > .sub-menu {
	width: 340px!important;
}
#gk-main-menu .menu-cols-3 > .sub-menu {
	width: 510px!important;
}

#gk-main-menu .menu-cols-4 > .sub-menu {
	width: 680px!important;
}

.box .menu-cols-2 > .sub-menu,
.box .menu-cols-3 > .sub-menu,
.box .menu-cols-4 > .sub-menu {
	width: auto!important;
}
#gk-main-menu .menu-cols-2 > .sub-menu > ul,
#gk-main-menu .menu-cols-3 > .sub-menu > ul,
#gk-main-menu .menu-cols-4 > .sub-menu > ul {
	display: table;
	padding-bottom: 0!important;
	width: 100%;
}
#gk-main-menu .menu-cols-2 > .sub-menu > ul > li,
#gk-main-menu .menu-cols-3 > .sub-menu > ul > li,
#gk-main-menu .menu-cols-4 > .sub-menu > ul > li {
	border-left: 1px solid #eee;
	display: table-cell;
	padding-bottom: 10px!important;
	padding-top: 14px!important;
	width: 50%;
}
#gk-main-menu .menu-cols-2 > .sub-menu > ul > li:first-child,
#gk-main-menu .menu-cols-3 > .sub-menu > ul > li:first-child,
#gk-main-menu .menu-cols-4 > .sub-menu > ul > li:first-child {
	border-left: none;
}
#gk-main-menu .menu-cols-3 > .sub-menu > ul > li {
	width: 33.333333%;
}
#gk-main-menu .menu-cols-4 > .sub-menu > ul > li {
	width: 25%;
}
#gk-main-menu .menu-cols-2 > .sub-menu > ul > li > a,
#gk-main-menu .menu-cols-3 > .sub-menu > ul > li > a,
#gk-main-menu .menu-cols-4 > .sub-menu > ul > li > a {
	color: #444!important;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 0;
	text-transform: uppercase;
}

#gk-main-menu .menu-cols-2 > .sub-menu > ul > li > a:hover,
#gk-main-menu .menu-cols-3 > .sub-menu > ul > li > a:hover,
#gk-main-menu .menu-cols-4 > .sub-menu > ul > li > a:hover {
	color: #fa7252!important;
}

#gk-main-menu .menu-cols-2 > .sub-menu > ul > li > .sub-menu,
#gk-main-menu .menu-cols-3 > .sub-menu > ul > li > .sub-menu,
#gk-main-menu .menu-cols-4 > .sub-menu > ul > li > .sub-menu {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	display: block!important;
	height: auto!important;
	left: 0!important;
	margin: 0 -20px!important;
	opacity: 1!important;
	position: static!important;
	width: auto!important;
}

/* Aside menu */
#gk-bg {
	-webkit-transition: margin-left .3s ease-out;
	-moz-transition: margin-left .3s ease-out;
	-ms-transition: margin-left .3s ease-out;
	-o-transition: margin-left .3s ease-out;
	transition: margin-left .3s ease-out;
}

#gk-bg.menu-open {
	margin-left: -280px;
}

#aside-menu-toggler,
#main-menu-mobile,
#static-aside-menu-toggler {
	color: #fff;
	cursor: pointer;
	display: block!important;
	float: right;
	font-size: 32px;
	height: 44px;
	line-height: 44px;
	margin: 10px 3px 0 0!important;
	overflow: hidden;
	position: relative;
	width: 44px;
}

#static-aside-menu-toggler {
	color: #333;
	filter: alpha(opacity=0);
	margin: 0!important;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 14px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

#static-aside-menu-toggler.active {
	filter: alpha(opacity=100);
	opacity: 1;
	margin-right: 25px!important;
}

#mobile-menu-toggler {
	margin: 0px -15px 0 0px!important;
}

#aside-menu {
	background: #152136;
	float: right;
	height: 100%;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: width .3s ease-out;
	-moz-transition: width .3s ease-out;
	-ms-transition: width .3s ease-out;
	-o-transition: width .3s ease-out;
	transition: width .3s ease-out;
	width: 0;
}

#aside-menu.menu-open {
	width: 280px;
}

#aside-menu > div {
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	padding-right: 32px;
	min-width: 280px;
	max-width: 100%;
}

#close-menu {
	color: #fa7252;
	cursor: pointer;
	font-size: 26px;
	opacity: 0; filter: alpha(opacity=0);
	position: fixed;
	right: 0px;
	top: 25px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	z-index: 1;
}

#close-menu.menu-open {
	opacity: 1.0; filter: alpha(opacity=100);
	right: 18px;
}

.admin-bar #close-menu {
	top: 53px;
}

#gk-aside-menu > ul {
	padding: 20px 0 20px 32px;
} 

.admin-bar #gk-aside-menu > ul {
	padding: 48px 0 20px 25px;
}

#aside-menu li {
	font-size: 15px;
	font-weight: 600;
	line-height: 1.7;
	padding: 4px 0;
	text-transform: uppercase;
}

#aside-menu li li {
	font-size: 14px;
	font-weight: 400;
	padding: 4px 0;
	text-transform: none;
}

#aside-menu li li li {
	font-weight: 300;
	padding-left: 15px;
}

#aside-menu li a {
	color: #eee;
}
#aside-menu li li a {
	color: #999;
}
#aside-menu li > a.active,
#aside-menu li > a:active,
#aside-menu li > a:focus,
#aside-menu li > a:hover,
#aside-menu .current-menu-item > a {
	color: #fa7252;
}

/* Android fix */
.android-stock-browser #aside-menu {
	height: auto;
	min-height: 100%;
	position: absolute;
}

.android-stock-browser #aside-menu > div {
	height: auto;
	min-height: 100%;
}

#aside-menu-toggler,
#main-menu-mobile,
#static-aside-menu-toggler {
	display: none!important;
}
 
/* 5.2. Comments
==================================== */

#comments.nocomments {
	border-top: none;
}

#commentform p {
	margin-bottom: 0;
}

#comments {
	border-top: 1px solid #e5e5e5;
	margin-top: 24px;
}

#comments > h2:first-child {
	color: #444;
	font-size: 18px;
	font-weight: 600;
	line-height: 32px;
	margin: 0;
	padding: 32px 0 0;
	text-transform: uppercase;
}

#comments > nav {
	margin: 12px 0;
	overflow: hidden;
}

#comments > nav .nav-prev {
	float: left;
}

#comments > nav .nav-next {
	float: right;
}

#comments > ol {
	list-style-type: none;
	padding: 0;
}

#comments ol.children {
	list-style-type: none;
	margin-left: 5%;
	padding: 0;
}

#comments li {
	border: none;
	margin: 0;
	padding: 0;
}

#comments li:before {
	display: none;
}

#comments li article {
	border: 1px solid #e5e5e5;
	margin: 16px 0 0;
	padding: 10px 12px 17px 12px;
	position: relative;
}

#comments > ol > li:first-child article {
	margin-top: 12px
}

#comments .odd > article {
	background: #f8f8f8;
}

#comments li article > aside {
	left: 24px;
	position: absolute;
	top: 20px;
}

#comments li article > aside img {
	float: left;
	margin: 12px 0 0;
}

#comments li article > .content {
	margin: 0 0 0 104px;
	padding: 10px;
}

#comments li article > .content p {
	font-size: 12px;
	line-height: 1.6;
	margin: 1em 0;
}

#comments article header span {
	color: #999;
	font-size: 14px;
	font-weight: 300;
	line-height: 2.0;
	margin: 0 12px 0 0;
}

#comments article time {
	color: #999;
	font-size: 14px;
	font-weight: 300;
}

#comments article .author {
	color: #111;
	font-weight: 500;
}

#comments article header {
	line-height: 1.0;
	margin: 4px 0 12px;
}

#comments article header .edit-link,
#comments article header .reply {
	float: right;
	font-size: 12px;
	font-weight: 700;
	margin-left: 10px;
}

#comments em.awaiting-moderation {
	color: #fa7252;
	display: block;
	font-size: 14px;
	margin: 0 0 12px 0;
	text-align: center;
}

#comments .bypostauthor {}

/* Comments typography */
#comments li article abbr[title],
#comments li article acronym[title] {
	border-bottom: 1px dotted;
}

#comments li article code {
	background: #fafafa;
	border-left: 4px solid #eee;
	display: block;
	margin: 10px 0;
	padding: 10px 20px; 
	white-space: pre;
}

#comments li article blockquote {
	background: #fafafa;
	border: 2px solid #eee;
	border-left: none;
	border-right: none;
	display: block;
	margin: 10px 0;
	padding: 10px; 
	position: relative;
}

#comments li article blockquote p {
	margin: 0;
}

#comments li article q {
	color: #888;
	font-weight: bold;
}

#comments li article strike {
	text-decoration: line-through;
}

#comments li article del {
	color: #aaa;
	text-decoration: line-through;
}

/* Comment form */
#respond {
	border-top: 0;
	padding: 0 0 12px;
}

#comments > #respond {
	margin-top: 32px;
}

#comments.nocomments > #respond {
	margin-top: 0;
}

#respond label {
	padding: 12px 0 10px;
}

#respond > h3 {
	color: #444;
	line-height: 32px;
	font-size: 18px;
	font-weight: 600;
	margin: 0;
	padding: 32px 0 0;
	text-transform: uppercase;
}

#respond p.comment-notes,
#respond p.logged-in-as,
#respond p.form-allowed-tags {
	font-size: 13px;
	color: #aaa;
}

#respond p.comment-notes {	
	font-size: 13px;
	margin: 6px 0 24px;
}

#respond input,
#respond textarea {
	display: block;
}

#respond input[type="checkbox"] {
	display: inline-block;
}

#respond input[type="text"],
#respond input[type="password"],
#respond textarea {
	width: 100%;
}

#respond #reply-title small {
	float: right;
	font-size: 14px;
	text-transform: none;
}

/* 5.3. Post meta-data
==================================== */

.content > form input[type="submit"] {
	display: inline-block;
	float: none;
}

#gk-mainbody > article {
	min-height: 230px;
}

.page-template #gk-mainbody > article {
	min-height: 0;
}

#gk-mainbody article > header h1,
#gk-mainbody article > header h2 {
	clear: both;
	font-size: 36px;
	line-height: 1;
	margin: 0 0 12px;
	text-transform: none;
}

#gk-mainbody article > header h2 {
	line-height: 1.1;
}

#gk-mainbody article > header {
	margin: 0 0 22px;
	padding: 0 0 0 90px;
	position: relative;
}

#gk-mainbody .no-sidebar > header,
#gk-mainbody .page-fullwidth > header,
#gk-mainbody .attachment-page > header,
#gk-mainbody.search-page article > header {
	padding-left: 0;
}

#gk-mainbody article > header > time,
.category-events .entry-date {
	border: 1px solid #e5e5e5;
	color: #000;
	left: 0;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 500;
	padding: 10px;
	position: absolute;
	text-transform: uppercase;
}

#gk-mainbody article > header > time > span,
.category-events .entry-date > span {
	display: block;
	font-size: 12px;	
}

#gk-mainbody article > header + #gk-social-api {
	margin-top: 45px;
}

.page #gk-mainbody > header {
	margin-bottom: 42px;
}

article {
	position: relative;
}

.date-mobile {
	display: none;
}

article header ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
}

article header ul li {
	color: #999;
	display: inline-block;
	float: none;
	font-size: 12px;
	list-style-type: none;
	margin: 0!important;
	padding-right: 20px;
}

article.no-title,
article.page-fullwidth {
	padding-left: 0;
}

article > footer {
	clear: both;
}

article > footer::after,
#gk-social-api::after,
#respond p.form-submit:after {
    clear: both;
    content: "";
    display: table;
}

.tags {
	color: #999;
	clear: both;
	font-size: 13px;
	margin: 3px 0 28px;
	overflow: hidden;
}
.tags a {
	background: #F1F2F3;
	color: #1B1D1F!important;
	float: left;
	font-style: normal;
	line-height: 1.7;
	margin: 0 6px 8px 0;
	padding: 0 12px !important;
}

.tags a:active,
.tags a:focus,
.tags a:hover {
	color: #fa7252!important;
}

.tags span {
	float: left;
	line-height: 26px;
	margin-right: 15px;
}

#gk-social-api + .tags {
	border-top: 1px solid #E5E5E5;
	margin: 32px 0;
	padding-top: 32px;
}

/* Social API */
#gk-social-api {
	border: 1px solid #e5e5e5;
	border-left: none;
	border-right: none;
	clear: both;
	margin: 0;
	padding: 24px 0 20px 0;
	text-align: center;
}

.page-template article > #gk-social-api {
	margin: 0;
}

#gk-social-api > div {
	display: inline-block;
	margin: 0 12px;
	vertical-align: top;
}

#gk-social-api .item-twitter-button {
	margin-top: -8px;
}

#gk-social-api .twitter-count-horizontal {
	position: relative;
	margin-left: 10px;
	top: 10px;
}

#gk-social-api > a {
	min-height: inherit!important;
}

/* 5.4. Post additional features
==================================== */
article .featured-image {
	position: relative;
}
article .featured-image sup,
article.sticky .featured-image sup {
	background: #fa7252;
	border-radius: 0 28px 0 28px;
	-webkit-border-radius: 0 0 0 28px;
	-moz-border-radius: 0 0 0 28px;
	color: #fff;
	font-size: 11px;
	letter-spacing: 1px;
	line-height: 32px;
	height: 32px;
	padding: 0 20px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 0;
	z-index: 1;
	transform: rotateZ(-90deg) translateX(-50%);
	-moz-transform: rotateZ(-90deg) translateX(-50%);
	-webkit-transform: rotateZ(-90deg) translateX(-50%);
}

.single article figure.featured-image,
.page article figure.featured-image {
	margin: 0 0 20px;
}

article figure.featured-image img {	
	display: block;
	height: auto;
	max-width: 100%;
	margin: 0 0 8px;
	padding: 0;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	width: 100%!important;
}

article figure.featured-image figcaption {
	color: #999;
	display: block;
	float: left;
	font-size: 11px;
	padding: 12px 16px 0 0;
}

article header h1 > sup,
article header h2 > sup {
	background: #ffc600;
	color: #010101;
	font-size: 10px;
	font-weight: bold;
	margin: 20px 0 0;
	padding: 1px 6px;
	position: relative;
	text-transform: uppercase;
	top: 2px;
	vertical-align: super;
}

/* Image wrapper overlay */
.gk-image-wrapper-overlay-wrap {
	display: block;
	position: relative;
}
.gk-image-wrapper-overlay {
	height: 100%;
	left: 0;
	padding: 9px;
	position: absolute;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	top: 0;
	width: 100%;
	z-index: 1;
}
.gk-image-wrapper-overlay > span {
	border: 1px solid rgba(255, 255, 255, 0.5);
	height: 100%;
	display: block;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	width: 100%;
}
.gk-image-wrapper-overlay > span > span {
	display: block;
	height: 100%;
	opacity: 0;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	width: 100%;
}
.gk-image-wrapper-overlay > span > span:before,
.gk-image-wrapper-overlay > span > span:after {
	content: "";
	height: 37px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transition: all .3s ease-out .2s;
	-moz-transition: all .3s ease-out .2s;
	-ms-transition: all .3s ease-out .2s;
	-o-transition: all .3s ease-out .2s;
	transition: all .3s ease-out .2s;
	width: 37px;
}
.gk-image-wrapper-overlay > span > span:before {
	border-top: 1px solid #fff;
	margin-left: -18px;
	width: 0;
}
.gk-image-wrapper-overlay > span > span:after {
	border-left: 1px solid #fff;
	height: 0;
	margin-top: -18px;
}
.gk-image-wrapper-overlay-wrap:hover .gk-image-wrapper-overlay > span {
	border-color: rgba(255, 255, 255, 0);
}
.gk-image-wrapper-overlay-wrap:hover .gk-image-wrapper-overlay.nohover > span {
	border-color: rgba(255, 255, 255, 0.34);
}
.gk-image-wrapper-overlay-wrap:hover .gk-image-wrapper-overlay > span > span {
	background: rgba(0, 0, 0, 0.34);
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.gk-image-wrapper-overlay-wrap:hover .gk-image-wrapper-overlay > span > span:before {
	width: 37px;
}
.gk-image-wrapper-overlay-wrap:hover .gk-image-wrapper-overlay > span > span:after {
	height: 37px;
}

.alignnone {
	float: none;
}

.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}

.alignright {
	float: right;
	margin: 0 0 15px 15px;
}

.aligncenter {
	display: block;
	float: none;
	margin: 0 auto;
}

div.wp-caption {
	max-width: 100%!important;
}

.wp-caption-text {
	font-size: 11px;
	font-style: italic;
	line-height: 1.5;
	text-align: center;
}

.gallery {
	clear: both;
	padding: 16px 0;
}

.gallery-caption {
	font-size: 14px;
}

.gallery-icon img {
	border: none!important;
}

/* 5.5. wp-activate.php and wp-signup.php pages
==================================== */

/* wp-activate.php */

#activateform {
	margin: 0 auto;
	max-width: 500px;
}

#activateform #key,
#activateform #submit {
	font-size: inherit!important;
}

/* wp-signup.php */
.mu_register {
	margin: 20px auto!important;
	max-width: 500px;
}

.mu_register input[type="submit"], 
.mu_register #blog_title, 
.mu_register #user_email, 
.mu_register #blogname, 
.mu_register #user_name {
	font-size: inherit!important;  
}

.mu_register label {
	font-size: inherit!important;
}
