/**
 *
 * -------------------------------------------
 * WP Extensions CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 8. Additional WP extensions styles
 *
 *
------------------------------------ */

/* 8.1. Archives widget
==================================== */

.widget_archive li {
	border: none!important;
	color: #848484;
	padding: 2px 0;
}

.widget_archive li a {
	font-size: 13px;
	padding-right: 4px;
}

.widget_archive li a:active,
.widget_archive li a:focus,
.widget_archive li a:hover {
	color: #4c90fe;
}

/* 8.2. Custom menu widget
==================================== */

/* 8.3. Pages widget
==================================== */

/* 8.4. RSS widget
==================================== */

.box h3.box-title .rsswidget {
	clear: none;
	float: left;
	font-size: 20px;
	margin-right: 10px;
}

.box .rsswidget {
	clear: both;
	display: block;
	font-size: 16px;
	margin: 20px 0 10px;
}

.box .rss-date {
	clear: both;
	display: block;
	font-size: 11px;
	font-style: italic;
	margin-top: -10px;
	text-align: right;
}

.box .rssSummary {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.widget_rss cite {
	font-size: 12px;
}

/* 8.5. Text widget
==================================== */

#gk-header .box.widget_text {
	padding: 0!important;
}

#gk-header .box.widget_text img {
	height: auto;
	max-width: 100%;
}

/* 8.6. Calendar widget
==================================== */
#gk-sidebar .box.widget_calendar,
#gk-sidebar-wc .box.widget_calendar  {
	border: 0;
	padding: 0;
}

.box #wp-calendar {
	background: #fff;
	width: 100%;
}

.box #wp-calendar caption {
	background: #fff;
	border: 1px solid #eee;
	border-bottom: 0;
	font-size: 12px;
	font-weight: normal;
	padding: 5px 0;
}

.box #wp-calendar th {
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	color: #333;
	font-size: 11px;
	font-weight: 500;
	padding: 3px 0;
}

.box #wp-calendar td {
	border: 1px solid #eee;
	font-size: 11px;
	padding: 2px 0;
	text-align: center;
}

.box #wp-calendar td.pad {
	background: #fbfbfb;
}

.box #wp-calendar td#today {
	background: #fa7252;
	color: #fff;
	font-size: 12px;
}

.box #wp-calendar tbody td a {
	color: #010101;
	display: block;
	font-size: 12px;
	padding: 3px;
}

.box #wp-calendar tbody td a:hover {
	display: block;
	background: #fa7252;
	color: #fff !important;
	padding: 3px;
}


/* 8.7. Links widget
==================================== */

.box ul.xoxo a {
	display: block;
	font-size: 12px;
	line-height: 20px;
}

.box ul.xoxo a img {
	vertical-align: middle;
}

.box ul.xoxo li {
	font-size: 10px;
	padding: 5px 0;
}

/* 8.8. Recent comments widget
==================================== */

/* 8.9. Search widget
==================================== */
 
.box #searchform label,
.box #searchform #searchsubmit {
	display: none;
}

.box #searchform .field {
	width: 100%;
}

.box.widget_search {
	border: 0!important;
	padding: 0!important;
	position: relative;
}
 
/* 8.10. Categories widget
==================================== */

/* 8.11. Meta widget
==================================== */

/* 8.12. Recent posts widget
==================================== */

/* 8.13. Tag cloud widget
==================================== */

.box.tags .tagcloud {
	overflow: hidden;
}

.box.tags .tagcloud a {
	border: 1px solid #E5E5E5;
	float: left;
	font-size: 13px!important;
	line-height: 1.5;
	margin: 0 3px 3px 0;
	padding: 3px 12px!important;
}

/* 8.14. Common widget styles
==================================== */

/* Modules */
.box {
	color: #888;
	line-height: 1.6;
	margin: 0 0 50px 0;
	width: 100%;
}

#gk-top-bar .box {
	line-height: 46px;
}

#gk-inset .box {
	padding: 0;
}

.box ul {
	list-style-type: none;
	margin: 0;
}

.box li a {
	line-height: 1.0;
}

.box ul li {
	border-top: 1px solid #e5e5e5;
	line-height: 1.6;
	padding: 5px 0;
}

#gk-top1 .box ul li {
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0;
}

.box ul li:first-child {
	border: 0;
}

.box .box-title {
	color: #010101;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	padding: 0 0 20px 0;
}

.box .box-title > i {
	float: right;
	padding: 0!important;
}

.box .box-title em {
	color: #fec54c;
	font-style: normal;
}

#gk-inset .box.border,
#gk-inset .box.icons-menu,
#gk-sidebar .box.border,
#gk-sidebar .box.icons-menu {
	border: 1px solid #e5e5e5;
	padding: 42px;
}

/* transparent suffix */
.box.transparent {
	background: rgba(14, 22, 35, .89);
	color: #97a3b8;
	font-size: 13px;
	padding: 20px 45px!important;
}
.box.transparent a {
	color: #fff;
}
.box.transparent a:active,
.box.transparent a:focus,
.box.transparent a:hover {
	color: #fa7252;
}
.box.transparent h3 {
	font-size: 16px;
	font-weight: 500;
	margin: 0 0 10px 0;
	text-transform: none;
}
.box.transparent p {
	margin: 0;
}
.box.transparent li {
	border-bottom: 1px solid #23334d!important;
	border-top: 0;
	padding: 18px 0;
}
.box.transparent ul + a {
	color: #fa7252;
	display: block;
	font-size: 13px;
	padding-top: 20px;
	text-align: left;
}
.box.transparent ul + a:active,
.box.transparent ul + a:focus,
.box.transparent ul + a:hover {
	color: #fff;
}

/* Style advertisement */
.box.advertisement .box-title {
	background: transparent;
	border-bottom: 1px solid #e0e0e0;
	color: #bbb!important;
	font-size: 12px!important;
	font-weight: 300;
	line-height: 16px;
	margin: 0 0 16px 0;
	min-height: 21px;
	padding: 0;
	text-align: right;
	text-transform: none;
}

/* mediumtitle style */
.box.medium-title .box-title {
	font-size: 24px;
}

/* bottom title style */
.box.bottom-title .box-title {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.2;
	position: relative;
	top: 80px;
}

/* Style bigtitle */
.box.bigtitle .box-title,
.box-title.bigtitle {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
}

.box-title.bigtitle {
	padding-top: 20px;
}


/* Style centered */
.box.centered {
	margin: 0!important;
	padding: 50px 0!important;
}

.box.centered .box-title {
	font-weight: 400;
	text-align: center;
}

.centered .gk-nsp-art {
	padding: 0 42px!important;
	text-align: center;
}
.centered .gk-nsp {
	margin: 0 -42px!important;
}

.centered .gk-nsp-header {
	margin-bottom: 5px;
}

.centered .gk-nsp-text {
	margin-bottom: 20px!important;
}

.centered .gk-nsp-art .readon {
	display: inline-block;
	float: none;
}
.gk-centered {
	clear: both;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

/* Style nomargin */
.box.nomargin {
	margin: 0!important;
	padding: 0!important;
}

/* suffix color1 & color2 */
.box.color1,
.box.color2 {
	background: #52b5fa;
	border: none;
	color: rgba(255, 255, 255, .7);
	padding: 42px!important;
}
.box.color2 {
	background: #fa7252;
}
.box.color1 .box-title,
.box.color2 .box-title {
	background: transparent!important;
	line-height: 1.2;
}
.box.color1 h1,
.box.color1 h2,
.box.color1 h3,
.box.color1 h4,
.box.color1 h5,
.box.color1 h6,
.box.color2 h1,
.box.color2 h2,
.box.color2 h3,
.box.color2 h4,
.box.color2 h5,
.box.color2 h6 { 
	color: #fff;
}
.box.color1 ul,
.box.color2 ul {
	margin: 0;
	padding: 0;
}
.box.color1 ul li,
.box.color2 ul li {
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	border-top: 0;
	position: relative;
}
.box.color1 ul li:last-child,
.box.color2 ul li:last-child { border-bottom: none; }
.box.color1 a,
.box.color2 a { color: #fff!important; }
.box.color1 a:active,
.box.color1 a:focus,
.box.color1 a:hover,
.box.color2 a:active,
.box.color2 a:focus,
.box.color2 a:hover { color: rgba(255, 255, 255, .9)!important; }
.box.color1 ul ul,
.box.color2 ul ul { margin: 0 0 0 20px; }

/* Style light */
.box.light {
	background: #f6f6f6;
	padding: 42px!important;
}

/* Style parallax */
.box.parallax {
	background-attachment: fixed;
	background-image: url('../images/parallax_bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #aeaeae;
	margin: -60px 0!important;
	overflow: hidden;
	padding: 150px 0!important;
}
.box.parallax .box-title {
	color: #fff;
	font-size: 36px;
	font-weight: 500;
	line-height: 1;
	padding: 0 0 30px 0;
}

/* Style dark */
.box.dark {
	background: #000!important;
	color: #999;
	padding: 42px!important;
}

.box.dark .box-title {
	background: transparent!important;
	line-height: 1.2;
}

.box.dark h1,
.box.dark h2,
.box.dark h3,
.box.dark h4,
.box.dark h5,
.box.dark h6 {
	color: #fff;
}

.box.dark ul {
	margin: 0;
	padding: 0;
}

.box.dark ul li {
	border-top: 1px solid #333;
	position: relative;
}

.box.dark ul li:first-child {
	border-top: none;
}

.box.dark a {
	color: #ddd!important;
}

.box.dark a:active,
.box.dark a:focus,
.box.dark a:hover {
	color: #fa7252!important;
}

.box.dark ul ul {
	margin: 0 0 0 20px;
}

/* Style menu */
.box.menu ul ul {
	border: 0;
	margin-left: 6px;
}
.box.menu li {
	color: #888;
	font-size: 11px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.box.menu .current-menu-item,
.box .current-cat {
	background: #f2f4f5;
}

.box .current-cat a,
.box.menu .current-menu-item a {
	padding: 8px 16px!important;
}

.box.widget_categories > ul {
	font-size: 11px;
}

.box.menu li > a,
.box.widget_categories li > a {
	color: #1B1D1F;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	line-height: 1.0;
	padding: 8px 0;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.box.menu li > a:hover,
.box.widget_categories li > a:hover,
.box.icons-menu li a:hover {
	color: #fa7252!important;
}

.box.menu li li,
.box.widget_categories li li {
	border-bottom: 1px solid #e5e5e5;
	font-size: 12px;
	padding-left: 6px;
}

.box.separator:after,
.gk-nsp.separator:after {
	border-top: 1px solid #e5e5e5;
	bottom: -60px;
	clear: both;
	content: "";
	display: block;
	left: 50%;
	margin: 0 auto 0 -200px;
	position: absolute;
	width: 400px;
}

/* Style icons-menu */
.box.icons-menu ul {
	margin: 0;
}
.box.icons-menu li {
	border: none;
}
.box.icons-menu li a {
	color: #1B1D1F;
	display: inline-block;
	padding: 8px 0 8px 40px; 
	position: relative;
}
.box.icons-menu li i {
	color: #929292;
	font-size: 22px;
	left: 0px;
	top: 4px;
	position: absolute;
}
.box.icons-menu li a:active i,
.box.icons-menu li a:focus i,
.box.icons-menu li a:hover i {
	color: #fa7252;
}
.box.icons-menu .last-item {
	border-top: 1px solid #e5e5e5;
	margin: 15px 0 -30px 0;
}
.box.icons-menu .last-item a {
	color: #fa7252;
	font-size: 13px;
	font-style: italic;
	padding: 4px 0;
	-webkit-transform: translateX(0)!important;
	-moz-transform: translateX(0)!important;
	-ms-transform: translateX(0)!important;
	-o-transform: translateX(0)!important;
	transform: translateX(0)!important;
}
.box.icons-menu .last-item a:active,
.box.icons-menu .last-item a:focus,
.box.icons-menu .last-item a:hover {
	color: #000!important;
}

/* Login background */
.box.guest {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	color: #fff;
	margin: 0 0 37px !important;
	max-width: 100%;
	min-height: 363px;
	padding: 0;
	text-shadow: none;
}


.box.guest .box-title {
	color: #fff;
	font-size: 48px;
	font-weight: bold;
	line-height: 1;
	margin: 72px 0 0;
	padding: 20px 0;
	text-transform: uppercase;
	text-shadow: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
}

.box.guest > div {
	bottom: 0;
	padding: 120px 0 0 0;
	position: relative;
	text-align: center;
	z-index: 1;
}

.box.guest p {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0 auto;
	padding: 0 0 32px;
	text-align: center;
	text-transform: uppercase;
}

.box.guest .btn-join {
	background: #fa7252;
	border: none;
	color: #fff;
	display: inline-block;
	font-size: 25px;
	font-weight: 500;
	line-height: 54px;
	margin: 0 auto 32px;
	padding: 0 28px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.box.guest .btn-join:hover,
.box.guest .btn-join:active,
.box.guest .btn-join:focus {
	background: #111;
	color: #fff;
}

/* Suffix half */
.col3.box.half.last2,
.col4.box.half.last2,
.col6.box.half.last2 {
	width: 33.333333%;
}

.col3.box.half.last2 ~ .box.last2,
.col4.box.half.last2 ~ .box.last2,
.col6.box.half.last2 ~ .box.last2 {
	width: 66.666666%;
}
.col3.box.half.last3,
.col4.box.half.last3,
.col6.box.half.last3 {
	width: 19.99%;
}
.col3.box.half.last3 ~ .box.last3,
.col4.box.half.last3 ~ .box.last3,
.col6.box.half.last3 ~ .box.last3 {
	width: 40%;
}
.col4.box.half.last4,
.col6.box.half.last4 {
	width: 16%;
}
.col4.box.half.last4 ~ .box.last4,
.col6.box.half.last4 ~ .box.last4 {
	width: 28%;
}
.col6.box.half.last5 {
	width: 12%;
}
.col6.box.half.last5 ~ .box.last5 {
	width: 22%;
}
.col6.box.half.last6 {
	width: 10%;
}
.col6.box.half.last6 ~ .box.last6 {
	width: 18%;
}