<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
		</array>
		<key>dessert</key>
		<string>甜品</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
		</array>
		<key>dessert</key>
		<string>甜品</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
		</array>
		<key>dessert</key>
		<string>甜品</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
		</array>
		<key>dessert</key>
		<string>甜品</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
		</array>
		<key>dessert</key>
		<string>甜品</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
		</array>
		<key>dessert</key>
		<string>甜品</string>
	</dict>
</array>
</plist>
