<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>白头偕老双皮奶</string>
				<key>tradeImage</key>
				<string>白头偕老双皮奶</string>
			</dict>
		</array>
		<key>dessert</key>
		<string>甜品</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>蛋糕</string>
				<key>tradeImage</key>
				<string>蛋糕</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>柠檬磅蛋糕</string>
				<key>tradeImage</key>
				<string>柠檬磅蛋糕</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>贝壳蛋糕</string>
				<key>tradeImage</key>
				<string>贝壳蛋糕</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>布朗尼</string>
				<key>tradeImage</key>
				<string>布朗尼</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>马卡龙</string>
				<key>tradeImage</key>
				<string>马卡龙</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>泡芙塔</string>
				<key>tradeImage</key>
				<string>泡芙塔</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>纸杯蛋糕</string>
				<key>tradeImage</key>
				<string>纸杯蛋糕</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>蓝莓磅蛋糕</string>
				<key>tradeImage</key>
				<string>蓝莓磅蛋糕</string>
			</dict>
		</array>
		<key>dessert</key>
		<string>西点</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>卡布奇诺</string>
				<key>tradeImage</key>
				<string>卡布奇诺</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>美式咖啡</string>
				<key>tradeImage</key>
				<string>美式咖啡</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>摩卡</string>
				<key>tradeImage</key>
				<string>摩卡</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>拿铁</string>
				<key>tradeImage</key>
				<string>拿铁</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>意式浓缩咖啡</string>
				<key>tradeImage</key>
				<string>意式浓缩咖啡</string>
			</dict>
		</array>
		<key>dessert</key>
		<string>咖啡</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>草本清新</string>
				<key>tradeImage</key>
				<string>草本清新</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>粉红佳人</string>
				<key>tradeImage</key>
				<string>粉红佳人</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>炭培乌龙</string>
				<key>tradeImage</key>
				<string>炭培乌龙</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>夏日柠檬</string>
				<key>tradeImage</key>
				<string>夏日柠檬</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>EarlGreyTea</string>
				<key>tradeImage</key>
				<string>EarlGreyTea</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>TeaCup</string>
				<key>tradeImage</key>
				<string>TeaCup</string>
			</dict>
		</array>
		<key>dessert</key>
		<string>茶</string>
	</dict>
	<dict>
		<key>info</key>
		<array>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>草莓奶昔</string>
				<key>tradeImage</key>
				<string>草莓奶昔</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>哈密瓜汁</string>
				<key>tradeImage</key>
				<string>哈密瓜汁</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>芒果椰奶</string>
				<key>tradeImage</key>
				<string>芒果椰奶</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>芒果汁</string>
				<key>tradeImage</key>
				<string>芒果汁</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>猕猴桃汁</string>
				<key>tradeImage</key>
				<string>猕猴桃汁</string>
			</dict>
			<dict>
				<key>originalPrice</key>
				<string>45</string>
				<key>memberPrice</key>
				<string>34</string>
				<key>tradeName</key>
				<string>牛油果奶昔</string>
				<key>tradeImage</key>
				<string>牛油果奶昔</string>
			</dict>
		</array>
		<key>dessert</key>
		<string>饮品</string>
	</dict>
</array>
</plist>
